{% extends 'base.html.twig' %}

{% block title %}{{ 'accounting'|trans }}{% endblock %}

{% block body %}
    {% set timezone =  accounting.getAccount().getTimeZone() %}
    {% set currencysymbol = accounting.getAccount().getCurrency().getSymbol() %}
    {% set yearPurchasePrice = accounting.getYearPurchasePrice().getValue() %}
    {% set yearSoldPrice = accounting.getYearSoldPrice().getValue() %}
    {% set yearProfitPrice = accounting.getYearForecastProfitPrice().getValue() %}
    {% set yearProfitPercentage = accounting.getYearForecastProfitPercentage() %}
    {% if yearProfitPrice >= 0 %}
        {% set yearPercentStyle = "positivePercent" %}
        {% set yearValueStyle = "positiveValue" %}
        {% set yearValueSign = "+" %}
        {% set yearPercentArrow = "M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z" %}
    {% else %}
        {% set yearPercentStyle = "negativePercent" %}
        {% set yearValueStyle = "negativeValue" %}
        {% set yearValueSign = "" %}
        {% set yearPercentArrow = "M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z" %}
    {% endif %}
    {% set totalPurchasePrice = accounting.getTotalPurchasePrice().getValue() %}
    {% set totalSoldPrice = accounting.getTotalSoldPrice().getValue() %}
    {% set totalProfitPrice = accounting.getTotalProfitPrice().getValue() %}
    {% set totalProfitPercentage = accounting.getTotalProfitPercentage() %}
    {% if totalProfitPrice >= 0 %}
        {% set totalPercentStyle = "positivePercent" %}
        {% set totalValueStyle = "positiveValue" %}
        {% set totalValueSign = "+" %}
        {% set totalPercentArrow = "M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z" %}
    {% else %}
        {% set totalPercentStyle = "negativePercent" %}
        {% set totalValueStyle = "negativeValue" %}
        {% set totalValueSign = "" %}
        {% set totalPercentArrow = "M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z" %}
    {% endif %}
    <div class="mainHeading">
        <div class="headingTitle">{{ 'allTimeResult'|trans }}</div>
        <div class="containerResult">
            <div class="headingSubtitle" title="{{ 'purchase'|trans }}">{{ totalPurchasePrice }} {{ currencysymbol }}</div>
            <div class="headingSubtitle" title="{{ 'sell'|trans }}">{{ totalSoldPrice }} {{ currencysymbol }}</div>
            <div class="headingInfo {{ totalValueStyle }}" title="{{ 'gainprice'|trans }}">
                {{ totalValueSign }}{{ totalProfitPrice }} {{ currencysymbol }}
            </div>
            <div class="headingInfo {{ totalPercentStyle }}" title="{{ 'gainpercent'|trans }}">
                <span>
                    <svg focusable="false" width="16" height="16" viewBox="0 0 24 24">
                        <path d="{{ totalPercentArrow }}"></path>
                    </svg>
                </span>
                {{ totalProfitPercentage }}%
            </div>
        </div>
    </div>
    <div class="heading">
        <div class="yearSelector">
            <div class="headingTitle">{{ 'changeYear'|trans }}</div>
            <select onchange="document.location.href='?year='+this.value;">
                {% for year in accounting.getOldestYear()..accounting.getCurrentYear() %}
                <option value="{{ year }}"{% if accounting.getDisplayedYear() == year %} selected="selected"{% endif %}>{{ year }}</option>
                {% endfor%}
            </select>
        </div>
        <div class="containerResult">
            <div class="headingTitle">{{ 'displayedResult'|trans }}</div>
            <div class="headingSubtitle" title="{{ 'purchase'|trans }}">{{ yearPurchasePrice }} {{ currencysymbol }}</div>
            <div class="headingSubtitle" title="{{ 'sell'|trans }}">{{ yearSoldPrice }} {{ currencysymbol }}</div>
            <div class="headingInfo {{ yearValueStyle }}" title="{{ 'gainprice'|trans }}">
            {{ yearValueSign }}{{ yearProfitPrice }} {{ currencysymbol }}
            </div>
            <div class="headingInfo {{ yearPercentStyle }}" title="{{ 'gainpercent'|trans }}">
                <span>
                    <svg focusable="false" width="16" height="16" viewBox="0 0 24 24">
                        <path d="{{ yearPercentArrow }}"></path>
                    </svg>
                </span>
                {{ yearProfitPercentage }}%
            </div>
        </div>
    </div>
    
    <table aria-describedby="liaccounting">
        <thead>
            <tr>
                <td colspan="3" class="noBg">&nbsp;</td>
                <th colspan="2" scope="colgroup">{{ 'stocks'|trans({"stocks": 1}) }}</th>
                <th colspan="2" scope="colgroup">{{ 'transactions'|trans({"transactions": 1}) }}</th>
                <td colspan="2" class="noBg">&nbsp;</td>
            </tr>
            <tr>
                <th scope="col">{{ 'date'|trans }}</th>
                <th scope="col">{{ 'stocks'|trans({'stocks': 1}) }}</th>
                <th scope="col">{{ 'amount'|trans }}</th>
                <th scope="col">{{ 'purchase'|trans }}</th>
                <th scope="col">{{ 'sell'|trans }}</th>
                <th scope="col">{{ 'purchase'|trans }}</th>
                <th scope="col">{{ 'sell'|trans }}</th>
                <th scope="col">{{ 'gainprice'| trans }}</th>
                <th scope="col">{{ 'gainpercent'| trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for accountingMovement in accounting.getAccountingMovements() %}
            <tr>
                {% set buyPrice = accountingMovement.getBuyTransaction().getPrice() %}
                {% set soldPrice = accountingMovement.getSellTransaction().getPrice() %}
                {% set amount = accountingMovement.getAmount() %}
                 {% if accounting.getProfitPrice(loop.index0).getValue() >= 0 %}
                    {% set percentStyle = "positivePercent" %}
                    {% set valueStyle = "positiveValue" %}
                    {% set valueSign = "+" %}
                    {% set percentArrow = "M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z" %}
                {% else %}
                    {% set percentStyle = "negativePercent" %}
                    {% set valueStyle = "negativeValue" %}
                    {% set valueSign = "" %}
                    {% set percentArrow = "M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z" %}
                {% endif %}
                <td>{{ accountingMovement.getSellTransaction().datetimeutc|date('M d, Y - H:i:s T', timezone) }}</td>
                <td>{{ accountingMovement.getSellTransaction().getStock().getId() }}</td>
                <td class="number">{{ amount }}</td>
                <td class="number">{{ buyPrice.getValue() }} {{ currencysymbol }}</td>
                <td class="number">{{ soldPrice.getValue() }} {{ currencysymbol }}</td>
                <td class="number">{{ accounting.getPurchasePrice(loop.index0).getValue() }} {{ currencysymbol }}</td>
                <td class="number">{{ accounting.getSoldPrice(loop.index0).getValue() }} {{ currencysymbol }}</td>
                <td class="number">
                    <div class="{{ valueStyle }}">
                        {{ valueSign }}{{ accounting.getProfitPrice(loop.index0).getValue() }} {{ currencysymbol }}
                    </div>
                </td>
                <td class="number">
                    <div class="{{ percentStyle }}">
                        <span>
                            <svg focusable="false" width="16" height="16" viewBox="0 0 24 24">
                                <path d="{{ percentArrow }}"></path>
                            </svg>
                        </span>
                        {{ accounting.getProfitPercentage(loop.index0) }}%
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{{ 'noRecordsFound'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
