{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}

{% block title %}{{ 'portfolio'|trans }}{% endblock %}

{% block body %}
    {% set currencysymbol = portfolio.getAccount().currency.symbol %}
    {% set timezone = portfolio.getAccount().getTimeZone().getName() %}
    {% set portfolioProfitPrice = portfolio.getSummary().getTotalProfitForecastPrice() %}
    {% if portfolioProfitPrice.getValue() >= 0 %}
        {% set totalPercentStyle = "positivePercent" %}
        {% set totalValueStyle = "positiveValue" %}
        {% set totalValueSign = "+" %}
        {% set totalPercentArrow = "M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z" %}
    {% else %}
        {% set totalPercentStyle = "negativePercent" %}
        {% set totalValueStyle = "negativeValue" %}
        {% set totalValueSign = "" %}
        {% set totalPercentArrow = "M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z" %}
    {% endif %}

    <h2>{{ 'summary' | trans }}</h2>
    <table class="summary">
        <thead>
            <tr>
                <td colspan="3" class="noBg">&nbsp;</td>
                <th colspan="2" scope="colgroup">{{ 'unrealisedgainloss' | trans }}</th>
            </tr>
            <tr>
                <th scope="col">{{ 'adquisition' | trans({'amount': 2}) }} {{ currencysymbol }}</th>
                <th scope="col">{{ 'adquisitionFee' | trans({'amount': 2}) }} {{ currencysymbol }}</th>
                <th scope="col">{{ 'market' | trans({'amount': 2}) }} {{ currencysymbol }}</th>
                <th scope="col">{{ currencysymbol }}</th>
                <th scope="col">&percnt;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="number">{{ portfolio.getSummary().getTotalAdquisitionsPrice().getValue() }}</td>
                <td class="number">{{ portfolio.getSummary().getTotalAdquisitionsExpenses().getValue() }}</td>
                <td class="number">{{ portfolio.getSummary().getTotalMarketsPrice().getValue() }}</td>
                <td class="number {{ totalValueStyle }}">{{ totalValueSign }}{{ portfolioProfitPrice.getValue() }}</td>
                <td class="number {{ totalPercentStyle }}">
                    {{ portfolio.getSummary().getTotalProfitForecastPercentage() }}
                    <svg focusable="false" viewBox="0 0 24 16">
                        <path d="{{ totalPercentArrow }}"></path>
                    </svg>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>{{ 'detail' | trans }}</h2>
    {% if portfolio.getHasPrevPage() and portfolio.getPage() > 0 %}
    <a href="{{ path('portfolio_index') }}?page={{ portfolio.getPage()-1 }}" class="actionItem">{%trans%}previousPage{%endtrans%}</a>
    {% else %}
    <span class="disabledItem">{%trans%}previousPage{%endtrans%}</span>
    {% endif %}
    {% if portfolio.getHasNextPage() %}
    <a href="{{ path('portfolio_index') }}?page={{ portfolio.getPage()+1 }}" class="actionItem">{%trans%}nextPage{%endtrans%}</a>
    {% else %}
    <span class="disabledItem">{%trans%}nextPage{%endtrans%}</span>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th colspan="2" scope="colgroup">{{ 'adquisitionDateTime' | trans }} ({{ timezone }})</th>
                <td colspan="2" class="noBg">&nbsp;</td>
                <th colspan="2" scope="colgroup">{{ 'unitshareprice' | trans }} {{ currencysymbol }}</th>
                <th colspan="2" scope="colgroup">{{ 'totalsharesprice'| trans }} {{ currencysymbol }}</th>
                <td colspan="2" class="noBg">&nbsp;</td>
                <th colspan="2" scope="colgroup">{{ 'unrealisedgainloss' | trans }}</th>
                <td class="noBg">&nbsp;</td>
            </tr>
            <tr>
                <th scope="col">{{ 'date' | trans }}</th>
                <th scope="col">{{ 'time' | trans }}</th>
                <th scope="col">{{ 'symbol' | trans }}</th>
                <th scope="col">{{ 'shares' | trans }}</th>
                <th scope="col">{{ 'adquisition' | trans({'amount': 1}) }}</th>
                <th scope="col">{{ 'market' | trans }}</th>
                <th scope="col">{{ 'adquisition' | trans({'amount': 1}) }}</th>
                <th scope="col">{{ 'market' | trans }}</th>
                <th scope="col">{{ 'adquisitionFee' | trans({'amount': 2}) }} {{ currencysymbol }}</th>
                <th scope="col">{{ currencysymbol }}</th>
                <th scope="col">&percnt;</th>
                <th scope="col">{{ 'actions' | trans }}
            </tr>
        </thead>
        <tbody>
            {% for portfolioPosition in portfolio.getCollection() %}
                {% if portfolio.getPositionProfitPrice(loop.index0).getValue() >= 0 %}
                    {% set percentStyle = "positivePercent" %}
                    {% set valueStyle = "positiveValue" %}
                    {% set valueSign = "+" %}
                    {% set percentArrow = "M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z" %}
                {% else %}
                    {% set percentStyle = "negativePercent" %}
                    {% set valueStyle = "negativeValue" %}
                    {% set valueSign = "" %}
                    {% set percentArrow = "M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z" %}
                {% endif %}
                <tr>
                    <td>{{ portfolioPosition.datetimeutc|date('M d, Y', timezone) }}</td>
                    <td>{{ portfolioPosition.datetimeutc|date('H:i:s', timezone) }}</td>
                    <td><a href="{{ path('stock_update', {'id': portfolioPosition.stock.getId()}) }}" class="actionItem">{{ portfolioPosition.stock.getId() }}</a></td>
                    <td class="number">{{ portfolioPosition.amountOutstanding }}</td>
                    <td class="number">{{ portfolioPosition.price.value }}</td>
                    <td class="number">{{ portfolioPosition.stock.price.value }}</td>
                    <td class="number">{{ portfolio.getPositionAdquisitionPrice(loop.index0).getValue() }}</td>
                    <td class="number">{{ portfolio.getPositionMarketPrice(loop.index0).getValue() }}</td>
                    <td class="number">{{ portfolio.getPositionAdquisitionExpenses(loop.index0).getValue() }}</td>
                    <td class="number {{ valueStyle }}">
                        {{ valueSign }}{{ portfolio.getPositionProfitPrice(loop.index0).getValue() }}
                    </td>
                    <td class="number {{ percentStyle }}">
                        {{ portfolio.getPositionProfitPercentage(loop.index0) }}
                        <svg focusable="false" viewBox="0 0 24 16">
                            <path d="{{ percentArrow }}"></path>
                        </svg>
                    </td>
                    <td class="actions">
                        <a href="{{ path('stockoperate_new', {'type': 'sell', 'stock': portfolioPosition.stock.getId()}) }}" class="actionItem">{{ 'sell' | trans }}</a>
                        {{ include('portfolio/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">{{ 'noRecordsFound'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
