{% extends 'base.html.twig' %}

{% block title %}{{ 'stocks'|trans({'stocks': 1}) }}{% endblock %}

{% block body %}
    <div class="centeredBox">
        <table aria-label="{{ 'stocks'|trans({'stocks': 1}) }}">
            <tbody>
                <tr>
                    <th>{%trans%}code{%endtrans%}</th>
                    <td>{{ stock.getId() }}</td>
                </tr>
                <tr>
                    <th>{%trans%}name{%endtrans%}</th>
                    <td>{{ stock.name }}</td>
                </tr>
                <tr>
                    <th>{%trans%}price{%endtrans%}</th>
                    <td>{{ stock.price.value }} {{ stock.price.currency.iso3 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
