<form method="post" action="{{ path('transaction_delete', {'id': transaction.id}) }}" onsubmit="return confirm('{{ 'confirmDeleteMsg'|trans }}');" class="deleteForm">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction.id) }}">
    <button id="cmdDelete_{{ transaction.id }}" name="cmdDelete_{{ transaction.id }}">{{ 'delete'|trans }}</button>
</form>
